.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 8px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
